<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('Movies_dataset.csv')
df

,Movie_Name,Certification,Release_Date,Genres,Language,Budget,Revenue,Runtime
0,Black Panther: Wakanda Forever,PG13,11/10/2022,"['Action,', 'Adventure,', 'Science Fiction']",English,"$250,000,000.00","$835,000,000.00",162.0
1,Puss in Boots: The Last Wish,PG,12/08/2022,"['Animation,', 'Adventure,', 'Comedy,', 'Famil...",English,"$90,000,000.00","$369,105,725.00",103.0
2,Shotgun Wedding,R,12/28/2022,"['Action,', 'Romance,', 'Comedy']",English,-,"$4,495,365.00",101.0
3,M3GAN,PG13,01/05/2023,"['Science Fiction,', 'Horror,', 'Comedy']",English,"$12,000,000.00","$158,000,000.00",102.0
4,Transfusion,MA15+,01/05/2023,"['Crime,', 'Thriller,', 'Drama']",English,-,-,105.0
...,...,...,...,...,...,...,...,...
3961,The Watch,R,08/23/2012,"['Comedy,', 'Action,', 'Science Fiction']",English,"$68,000,000.00","$68,267,862.00",102.0
3962,Primeval,R,01/12/2007,"['Adventure,', 'Horror']",English,-,"$10,597,734.00",93.0
3963,The Girl in the Spider's Web,R,11/09/2018,"['Action,', 'Crime,', 'Thriller,', 'Drama']",English,"$43,000,000.00","$35,164,920.00",115.0
3964,Scooby-Doo on Zombie Island,PG,09/22/1998,"['Animation,', 'Mystery,', 'Family,', 'Horror']",English,-,-,77.0
3965,Wu Kong,NaN,07/13/2017,"['Fantasy,', 'Action,', 'Adventure']",Released,Language,-,130.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3966 entries, 0 to 3965
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie_Name     3966 non-null   object
 1   Certification  3697 non-null   object
 2   Release_Date   3966 non-null   object
 3   Genres         3966 non-null   object
 4   Language       3966 non-null   object
 5   Budget         3966 non-null   object
 6   Revenue        3966 non-null   object
 7   Runtime        3702 non-null   float64
dtypes: float64(1), object(7)
memory usage: 248.0+ KB

In [4]:
df = df.drop(columns=["Certification", "Language", "Budget"])

In [5]:
# Convert the Relesa_Date column to datetime format:
df['Release_Date'] = pd.to_datetime(df['Release_Date'], format='%m/%d/%Y')

In [6]:
# Extract the year and convert it to integer:
df['Year'] = df['Release_Date'].dt.year

In [7]:
# Ensure the 'Year' column is of integer type:
df['Year'] = df['Year'].astype(int)

In [9]:
df = df.drop(columns=["Release_Date"])

In [10]:
df.describe()

           Runtime         Year
count  3702.000000  3966.000000
mean    105.704754  2011.146243
std      21.589413    12.776586
min      61.000000  1932.000000
25%      91.000000  2006.000000
50%     102.000000  2015.000000
75%     116.000000  2021.000000
max     248.000000  2023.000000

In [11]:
# Function to clean the genre strings and extract the last genre 
def extract_last_genre(genre_str): 
    # Remove extraneous characters 
    cleaned_str = genre_str.strip("[]'") 
    # Split the cleaned string by commas and extract the last genre 
    last_genre = cleaned_str.split(',')[-1].strip() 
    # Remove any leading or trailing single quotes 
    last_genre = last_genre.strip("'")
    return last_genre

In [12]:
# Apply the function to the 'Genre' column 
df['Genres'] = df['Genres'].apply(extract_last_genre)

In [13]:
# Extract the last genre from the list 
df['Genres'] = df['Genres'].apply(lambda x: x[-1].strip() if isinstance(x, list) else x.split(',')[-1].strip())

In [14]:
df['Genres']

0       Science Fiction
1               Fantasy
2                Comedy
3                Comedy
4                 Drama
             ...
3961    Science Fiction
3962             Horror
3963              Drama
3964             Horror
3965          Adventure
Name: Genres, Length: 3966, dtype: object

In [15]:
df['Genres'].value_counts()

Thriller           602
Drama              498
Romance            379
Comedy             367
Fantasy            284
Science Fiction    282
Family             232
Horror             226
Action             211
Crime              195
Adventure          189
Mystery            150
Animation           64
History             56
Documentary         50
War                 49
TV Movie            48
Music               39
Western             28
                    17
Name: Genres, dtype: int64

In [16]:
df["Revenue"].value_counts()

-                 1606
$30,000,000.00       5
$60,000,000.00       4
$23,000,000.00       3
$7,000,000.00        3
                  ...
$37,070,177.00       1
$4,493,306.00        1
$85,720,385.00       1
$45,000,000.00       1
$35,164,920.00       1
Name: Revenue, Length: 2322, dtype: int64

In [17]:
# Replace '-' with NaN 
df['Revenue'] = df['Revenue'].replace('-', np.nan)

In [18]:
# Remove dollar signs and commas 
df['Revenue'] = df['Revenue'].str.replace('[\$,]', '', regex=True)

In [19]:
# Convert to numeric type 
df['Revenue'] = pd.to_numeric(df['Revenue'])

In [20]:
df['Revenue']

0       835000000.0
1       369105725.0
2         4495365.0
3       158000000.0
4               NaN
           ...
3961     68267862.0
3962     10597734.0
3963     35164920.0
3964            NaN
3965            NaN
Name: Revenue, Length: 3966, dtype: float64

In [21]:
# Drop rows with NaN values 
df = df.dropna(subset=['Revenue'])

In [22]:
df['Revenue']

0       8.350000e+08
1       3.691057e+08
2       4.495365e+06
3       1.580000e+08
7       2.176000e+09
            ...
3959    7.570960e+05
3960    4.936462e+07
3961    6.826786e+07
3962    1.059773e+07
3963    3.516492e+07
Name: Revenue, Length: 2360, dtype: float64

In [23]:
# Convert the revenue column to plain float without scientific notation 
pd.options.display.float_format = '{:.1f}'.format

In [24]:
df

,Movie_Name,Genres,Revenue,Runtime,Year
0,Black Panther: Wakanda Forever,Science Fiction,835000000.0,162.0,2022
1,Puss in Boots: The Last Wish,Fantasy,369105725.0,103.0,2022
2,Shotgun Wedding,Comedy,4495365.0,101.0,2022
3,M3GAN,Comedy,158000000.0,102.0,2023
7,Avatar: The Way of Water,Action,2176000000.0,192.0,2022
...,...,...,...,...,...
3959,Psycho-Pass 3: First Inspector,Animation,757096.0,137.0,2020
3960,National Lampoon's European Vacation,Romance,49364621.0,95.0,1985
3961,The Watch,Science Fiction,68267862.0,102.0,2012
3962,Primeval,Horror,10597734.0,93.0,2007
3963,The Girl in the Spider's Web,Drama,35164920.0,115.0,2018

In [25]:
# Get the current working directory
current_dir = os.getcwd()

In [26]:
df.to_csv('Movies_dataset_cleaned.csv', index=False)